<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>Splurty was built by Mike Dunnett-Stone, founder of <a target="_blank" href="http://seedmusic.co.uk">Seed Music</a>. It is the first app on the Firehose Project course that he completed to be able to build to software for Seed Music.</p>

  <br />

</div>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.png', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Mike Dunnett-Stone</h2>
    <br />
    <p>
    Mike Dunnett-Stone is the foudner of Seed Music, former senior strategy consultant at Javelin Group and holds a degree from the University of York.
    </p>
  </div>
</div>

<br class = "clear" />

<br />
<br />
<br />
